body {
	font-family: verdana, sans-serif;
}

/* **** */
/* text */
/* **** */

h1 {
	margin: 45px 0 0 262px;
	color: #666;
	font-size: 48px;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	color: #f07c17;
	margin: 30px 0 30px 30px;
}

p {
	margin: 10px 0 0 30px;
	font-size: 16px;
	line-height: 2em;
}

/* ***** */
/* lists */
/* ***** */

ul {
	margin: -16px 0 45px -10px;
	font-size: 16px;
}

li {
	margin: 1px 0 10px 40px;
}

/* ******* */
/* classes */
/* ******* */

.row {
	margin-bottom: 20px;
}

.mug {
	margin: 10px 0 0 0;
}

.main-features {
	border: 1px solid #ccc;
	margin: 30px 0 0 0;
}

.right-text {
	margin: -20px 0 -10px -30px;
}
